@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

@font-face {
  font-family: 'Iosevka';
  src: url('assets/Iosevka.ttf');
}

html {

      --grid-box-width: 50em;

      background-color: #111111;
      align-items: center;
      color: #ebdbb2;
      display: flex;
      /*-family: 'Ubuntu Mono', monospace;*/
      font-family: 'Iosevka';
      font-size: 20px !important;
      height: 100vh;
      justify-content: center;
      margin: 0;
    }

    body {
      display: none;
      margin: 1em;
      padding: 1em;
    }

    nav {
      display: grid;
      color: #999999;
      grid-template-columns: 2fr .75fr;
      max-width: var(--grid-box-width);
      min-width: var(--grid-box-width);
      max-height: calc(var(--grid-box-width) / 1.75);
      min-height: calc(var(--grid-box-width) / 1.75);
    }

    h1 {
      grid-column: 1 / 2;
      text-align: center;
      color: #999999;
      background-color: #1b1b1b;
      margin: auto;
      width: 100%;
      height: 100%;
      display: grid;
      grid-template-rows: 0.5fr 1fr 3fr;
      grid-template-columns: 1fr 1fr;
      box-sizing: border-box;
      padding-top: 3em;
      font-size: 20px !important;

      p {
        grid-row: 1;
        grid-column: span 4;
        margin: 0px;
        font-size: 30px;
        strong {
            color:#0972D6;
        }
      }
    }

    form {
        margin: auto;
        grid-row: 2;
        grid-column: span 4;
        width: 90%;
        height: 60%;
        display: flex;
    }

    .list-box {
        grid-row: 3;
        grid-column: 1 / -1;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    ul {
        display: table-cell;
        text-align: center;
        padding: 10px 25px;
        list-style: none;
        border-right: 1px solid #232328;
        transition: 0.8s;
        cursor: default;
        font-weight: normal;
        height: 55%;
    }

    ul:last-of-type {
        border: none;
    }

    ul.red:hover{
        color: #d60909;
    }

    ul.blue:hover {
        color: #0972D6
    }

    ul.green:hover {
        color: #09d628
    }

    ul.purple:hover {
        color: #a309d6
    }

    ul>li>a {
        color: #858585;
        transition: color 0.8s;
        text-decoration: none;
    }

    a:hover {
        color: white;
    }

    li {
      margin: 10px 0;
    }

    li:first-of-type {
        padding-top: 5px;
    }

    li:first-child {
        font-size: 22px;
        font-weight: bold;
        cursor: default;
    }

    h2 {
        grid-column: 2 / 3;
        width: 100%;
        height: 100%;
        margin: auto;
    }

    img {
      height: inherit;
      width: inherit;
      object-fit: cover;
      object-position: 50% 100%;
    }

form {
    margin: auto;
    width: 80%;
    height: 60%;
    display: flex;
}

input {
  background-color: unset;
  font: 30px 'Iosevka';
  color: #ebdbb2;
  width: 95%;
  border-top-style: hidden;
  border-bottom-style: hidden;
  border-left-style: hidden;
  border-right-style: hidden;
  outline: 0;
  text-align: center;
}