@font-face {
  font-family: 'Iosevka';
  src: url('assets/Iosevka.ttf');
}

@font-face {
    font-family: 'NB';
    src: url('assets/NB_Architekt_Pro_Neue_Regular.otf');
}

@font-face {
    font-family: '0Arame Thin';
    src: url('assets/0ArameThin.ttf');
}

@font-face {
    font-family: 'FA-1';
    src: url('assets/FA-1-Regular.otf');
}

@font-face {
    font-family: 'Gemina2 Expand';
    src: url('assets/gemina2expand.ttf');
}

@font-face {
    font-family: 'Nasa';
    src: url('assets/Nasalization\ Rg.otf');
}

@font-face {
    font-family: 'Disket Bold';
    src: url('assets/Disket-Mono-Bold.ttf');
}

@font-face {
    font-family: 'Reckoner Bold';
    src: url('assets/Reckoner_Bold.ttf');
}

@font-face {
    font-family: 'Bleep Bloop';
    src: url('assets/BleepBloop-FreeVersion.ttf');
}

@font-face {
    font-family: 'Block';
    src: url('assets/Block.otf');
}

@font-face {
    font-family: 'Crude';
    src: url('assets/Crude.otf');
}

@font-face {
    font-family: 'Marvin Visions';
    src: url(assets/MarvinVisionsBig-Bold.otf);
}

@font-face {
    font-family: 'Credils';
    src: url(assets/CredilsRegular.woff);
}


@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap');

html {visibility:hidden;}

body {
  background-color: black;
  display: flex;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: 'Iosevka';
  font-size: 20px;
  overflow: hidden;
  background-size: cover;
  --background-opacity: 0.15;

  --circle-size: 18vw;
  --square-size: 10px;
}

.main {
  display: flex;
  justify-content: right;
  font-family: 'Iosevka';
  width: 100vw;
  height: 100vh;
  flex-direction: column;
}

.data-wrapper {
    display: flex;
}

h1 {
  color: white;
  font-family: 'Block';
  font-size: 12.6vw;
  font-style: italic;
  margin: auto 0 0 0;
  text-transform: capitalize;
  padding: 0 14px 0 14px;
  font-weight: normal !important;
}

strong {
   color: #ed3434;
   /* letter-spacing: 15px; */
   font-weight: normal;
}


h2 {
    color: white;
    font-family: '0Arame Thin';
    font-size: 13px !important;
    padding: 0 0 0 14px;
    position: relative;
    top: -25px;
    margin:0;
}

nav {
  display: flex;
  color: white;
  font-size: 20px;
  justify-content: left;
  height: fit-content;
  width: fit-content;
  opacity: 1;
}


ul {
  list-style: none;
  transition: 0.8s;
  cursor: default;
  font-size: 13px !important;
  letter-spacing: .01em !important;
  font-family: '0Arame Thin';
  padding-right: 40px;
}

ul>li.nav-title {
  padding-top: 0.25em;
  padding-left: 0.25em;
  padding-right: 0.25em;
  padding-bottom: 15px;
}

ul>li>a {
  text-decoration: none;
  color: white;
  transition: color 0.8s;
  padding-top: 0.25em;
  padding-left: 0.25em;
  padding-right: 0.25em;
  padding-bottom: 2px;
}

ul>li>a:hover {
  background-color: #ed3434;
}

ul.green:hover {
  color: #4FAE0F;
}

ul.blue:hover {
  color: #0972D6;
}

ul.red:hover {
  color: #ed3434;
}

ul.yellow:hover {
  color: #edd934;
}

ul.purple:hover {
  color: #a374ff;
}

li {
    margin-top: 10px;
}

#clock {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 8px;
  color: white;
}

.decoration {
    width: 97vw;
    height: calc(4% + var(--circle-size));
    display: flex;
    margin: auto auto 0 auto;
}

.square {
    background-color: white;
    width: var(--square-size);
    height: var(--square-size);
    left: 1%;
    top: 0px;
    max-width: 10px;
}

.square:not(:has(.six)) {
    position: relative;
    top: calc(-3 * var(--square-size));
}

.square.five {
    left: 0;
    margin-left:auto;
}

.square.six {
    position: relative;
    left: calc(-1 * var(--square-size));
    top: calc(var(--circle-size) - var(--square-size))
}

.circle {
    background-color: white;
    width: var(--circle-size);
    height: var(--circle-size);
    clip-path: circle();
    right: calc(99% - var(--circle-size));
    top: calc(96% - var(--circle-size));
}

.circle.two {
    position: relative;
    top: 0;
    bottom: 0;
    right: var(--square-size);
}

.oval {
    max-height: var(--circle-size);
    position: relative;
    top: 0;
    right: 20px; /*I have no idea why this works, but 2*square-size does not!*/
    width: calc(2.5 * var(--circle-size));
}

.oval>.circle {
    /* position: relative; */
    right: 0px;
    top:0px;
}

.oval>.circle:last-child {
    position: relative;
    top: calc(-2 * var(--circle-size));
    left: calc(1.5 * var(--circle-size));
}

.oval>.rect {
    clip-path: none;
    position: relative;
    width: calc(1.5 * var(--circle-size));
    top: calc(-1 * var(--circle-size));
    left: calc(0.5 * var(--circle-size));
}

form {
    width: 80%;
    height: 10%;
    display: flex;
    margin-bottom: 30px;
}

input {
  background-color: unset;
  font: 30px 'Iosevka';
  color: white;
  width: 95%;
  border-top-style: hidden;
  border-bottom-style: hidden;
  border-left-style: hidden;
  border-right-style: hidden;
  outline: 0;
  text-align: center;
}