@font-face {
  font-family: 'Iosevka';
  src: url('assets/Iosevka.ttf');
}

@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap');

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: 'Iosevka';
  font-size: 20px;
  /*background-color: #111111;*/
  overflow: hidden;
  background:
      linear-gradient(
          rgba(0, 0, 0, 0.2), 
          rgba(0, 0, 0, 0.2)
        ),
        url('assets/bg.png');
  background-size: cover;
  background-attachment: fixed;
  --background-opacity: 0.15;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
  font-family: 'Iosevka';
}

#data-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(153, 170, 187, var(--background-opacity));
  backdrop-filter: blur(5px);
  border-radius: 5px;
  transition: all .3s ease-in;
  opacity: 1;
  width: 910px;
  height: 600px;
}

#data-wrapper.hidden {
  opacity: 0;
  width: 800px;
  height: 500px;
}

h1 {
  color: #FEFFFA;
  font-weight: normal;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left:5px;
  padding-right:5px;
  margin-top: -40px;
  font-family: 'Tangerine', cursive;
  /*-webkit-text-stroke: 1px black;*/
  text-shadow: -2px -2px  rgb(129, 129, 129);
}

/*h1::after{
    content:"";
    height: 40px;
    width: 1px;
    background-color: #FEFFFA;
    display: inline-block;
    position: relative;
    top: 5px;
    animation: blink infinite linear 0 infinite;
}

h1.hidden-cursor::after{
    display:none;
}*/

@keyframes blink {
    from {display: inline-block;}
    to {display: none;}
}

nav {
  display: flex;
  /*color: #999999;*/
  color: white;
  font-size: 20px;
  flex-direction: row;
  width: 75%;
  justify-content: space-between;
}

ul {
  flex: 1 1 0px;
  text-align: center;
  list-style: none;
  border-right: 0.5px solid #cbcbcb9a;
  border-left: 0.5px solid #cbcbcb9a;
  transition: 0.8s;
  cursor: default;
  padding: 25px 10px;
}

ul:first-of-type {
    border-left: none
}

ul:last-of-type {
  border-right: none;
}

li {
  margin: 10px 0;
}

ul>li:first-of-type {
  padding-top: 5px;
}

ul>li>a {
  text-decoration: none;
  /*color: #858585;*/
  color: #cbcbcb9a;
  transition: color 0.8s;
}

ul>li>a:hover {
  color: white;
}

ul.green:hover {
  color: #4FAE0F;
}

ul.blue:hover {
  color: #0972D6;
}

ul.red:hover {
  color: #ed3434;
}

ul.yellow:hover {
  color: #edd934;
}

ul.purple:hover {
  color: #a374ff;
}

.nav-title {
  font-size: 22px;
  font-weight: bold;
  cursor: default;
}

.mySlides {
  position: absolute;
  opacity: 0;
}

#flair {
  color: #0972D6;
}

strong {
   color: #0972D6;
   /*letter-spacing: 15px;*/
}

.typed-cursor {
    display: none !important;
}

#slideshow {
  width: 300px;
  height: 600px;
  background: #1b1b1b center / cover no-repeat;
}

#slideshow img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 100%;
}

#clock {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 8px;
  color: white;
}

#canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

form {
    width: 80%;
    height: 10%;
    display: flex;
    margin-bottom: 30px;
}

input {
  background-color: unset;
  font: 30px 'Iosevka';
  /*color: #ebdbb2;*/
  color: white;
  width: 95%;
  border-top-style: hidden;
  border-bottom-style: hidden;
  border-left-style: hidden;
  border-right-style: hidden;
  outline: 0;
  text-align: center;
}