@font-face {
  font-family: 'Iosevka';
  src: url('assets/Iosevka.ttf');
}

@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap');

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: 'Iosevka';
  font-size: 20px;
  overflow: hidden;
  background: url('https://pub-3ee1572858344b48b0791aa229d44f2a.r2.dev/norwegian-storm-tiny.avif');
  background-size: cover;
  background-attachment: fixed;
  --background-opacity: 0.15;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
  font-family: 'Iosevka';
}

#data-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(153, 170, 187, var(--background-opacity));
  backdrop-filter: blur(5px);
  border-radius: 5px;
  transition: all .3s ease-in;
  opacity: 1;
  width: 910px;
  height: 600px;
}

#data-wrapper.hidden {
  opacity: 0;
  width: 800px;
  height: 500px;
}

h1 {
  color: #FEFFFA;
  font-weight: normal;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left:5px;
  padding-right:5px;
  margin-top: -40px;
  font-family: 'Tangerine', cursive;
  text-shadow: -2px -2px  rgb(129, 129, 129);
}

nav {
  display: flex;
  color: white;
  font-size: 20px;
  flex-direction: row;
  width: 75%;
  justify-content: space-between;
}

ul {
  flex: 1 1 0px;
  text-align: center;
  list-style: none;
  border-right: 0.5px solid #cbcbcb9a;
  border-left: 0.5px solid #cbcbcb9a;
  transition: 0.8s;
  cursor: default;
  padding: 25px 10px;
}

ul:first-of-type {
    border-left: none
}

ul:last-of-type {
  border-right: none;
}

li {
  margin: 10px 0;
}

ul>li:first-of-type {
  padding-top: 5px;
}

ul>li>a {
  text-decoration: none;
  color: #cbcbcb9a;
  transition: color 0.8s;
}

ul>li>a:hover {
  color: white;
}

ul.green:hover {
  color: #4FAE0F;
}

ul.blue:hover {
  color: #0972D6;
}

ul.red:hover {
  color: #ed3434;
}

ul.yellow:hover {
  color: #edd934;
}

ul.purple:hover {
  color: #a374ff;
}

.nav-title {
  font-size: 22px;
  font-weight: bold;
  cursor: default;
}

strong {
   color: #0972D6;
   /*letter-spacing: 15px;*/
}

#clock {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 8px;
  color: white;
}

form {
    width: 80%;
    height: 10%;
    display: flex;
    margin-bottom: 30px;
}

input {
  background-color: unset;
  font: 30px 'Iosevka';
  color: white;
  width: 95%;
  border-top-style: hidden;
  border-bottom-style: hidden;
  border-left-style: hidden;
  border-right-style: hidden;
  outline: 0;
  text-align: center;
}